<settings>
    <setting propertyKey="@Properties.Setting_Background" title="@Strings.Setting_Background">
        <settingConfig type="list">
            <listEntry value="0xffffff">@Strings.Color_White</listEntry>
            <listEntry value="0xaaaaaa">@Strings.Color_Gray</listEntry>
            <listEntry value="0x555555">@Strings.Color_DarkGray</listEntry>
            <listEntry value="0x000000">@Strings.Color_Black</listEntry>
            <listEntry value="0xaa0000">@Strings.Color_Red</listEntry>
            <listEntry value="0xffaa00">@Strings.Color_Orange</listEntry>
            <listEntry value="0xffff00">@Strings.Color_Yellow</listEntry>
            <listEntry value="0x55aa00">@Strings.Color_Green</listEntry>
            <listEntry value="0x0055ff">@Strings.Color_Blue</listEntry>
            <listEntry value="0xaa00ff">@Strings.Color_Purple</listEntry>
            <listEntry value="0xff55ff">@Strings.Color_Pink</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Setting_Foreground" title="@Strings.Setting_Foreground">
        <settingConfig type="list">
            <listEntry value="0xffffff">@Strings.Color_White</listEntry>
            <listEntry value="0xaaaaaa">@Strings.Color_Gray</listEntry>
            <listEntry value="0x555555">@Strings.Color_DarkGray</listEntry>
            <listEntry value="0x000000">@Strings.Color_Black</listEntry>
            <listEntry value="0xaa0000">@Strings.Color_Red</listEntry>
            <listEntry value="0xffaa00">@Strings.Color_Orange</listEntry>
            <listEntry value="0xffff00">@Strings.Color_Yellow</listEntry>
            <listEntry value="0x55aa00">@Strings.Color_Green</listEntry>
            <listEntry value="0x0055ff">@Strings.Color_Blue</listEntry>
            <listEntry value="0xaa00ff">@Strings.Color_Purple</listEntry>
            <listEntry value="0xff55ff">@Strings.Color_Pink</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Setting_Layout" title="@Strings.Setting_Layout">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Layout_12HrMinSec</listEntry>
            <listEntry value="1">@Strings.Layout_12HrMin</listEntry>
            <listEntry value="2">@Strings.Layout_24HrMinSec</listEntry>
            <listEntry value="3">@Strings.Layout_24HrMin</listEntry>
            <listEntry value="4">@Strings.Layout_24Hr</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Setting_HourMarks" title="@Strings.Setting_HourMarks">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HourMark_None</listEntry>
            <listEntry value="10">@Strings.HourMark_Stick</listEntry>
            <listEntry value="11">@Strings.HourMark_Dot</listEntry>
            <listEntry value="20">@Strings.HourMark_SmallNumbers</listEntry>
            <listEntry value="21">@Strings.HourMark_LargeNumbers</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Setting_ShowDate" title="@Strings.Setting_ShowDate">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.Setting_ShowBattery" title="@Strings.Setting_ShowBattery">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.Setting_CutoutMode" title="@Strings.Setting_CutoutMode">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.Setting_SegmentedArcs" title="@Strings.Setting_SegmentedArcs">
        <settingConfig type="boolean" />
    </setting>
</settings>
